body {
	padding-top: 60px;
}

.abed-title {
	padding: 40px 15px;
	text-align: center;
}

.AbedTable {
	display: none;
}

#AbedButtons {
	margin-top: 10px;
	margin-bottom: 20px;
}

#AbedButtons td {
	text-align: center;
}

#AbedButtons th {
	text-align: center;
}

p {
	padding-top: 10px;
}

.panel-body {
	text-align: center;
}
